/*
#header {
    background: #fff;
    color: orange;
}

.region-header, .region-header a, .region-header li a.is-active, .region-header .site-branding__text, .region-header .site-branding, .region-header .site-branding__text a, .region-header .site-branding a, .region-secondary-menu .menu-item a, .region-secondary-menu .menu-item a.is-active {
    color: orange;
}

.site-branding__name {
    font-size: 2rem;
}


.path-frontpage .node--view-mode-teaser h2 {
    font-family: 'Impact';
    font-size: 2rem;
}

.node--view-mode-teaser h2 a {
    color: orange;
}

.sidebar .block > h2 {
    color: orange;
    text-transform: uppercase;
    font-style: italic;
    border-bottom: 1px solid orange;
}


h2 {
    color: orange;
}

.field--name-title{
    color: orange;
}*/

.bottom-wide {
    background: #999999;
}

.node .teaser-image {
    /*flex: 1;*/
    width: 50%;
    float: left;
}
.node .teaser-content{
    /*flex: 2;*/
    width: 50%;
    float: left;
}

/* CORRECTION*/
.site-branding__name {
    font-size: 2rem;
}

.region-header, .region-header a, .region-header li a.is-active, .region-header .site-branding__text, .region-header .site-branding, .region-header .site-branding__text a, .region-header .site-branding a, .region-secondary-menu .menu-item a, .region-secondary-menu .menu-item a.is-active {
    color:orange;
}

#header {
    /*  background-color:#fff;
      background-image:none;*/
    background: #fff;
}

.path-frontpage .main-content .node--view-mode-teaser h2 {
    font-size: 2rem;
    font-family:'Impact';
}

.path-frontpage .main-content .node--view-mode-teaser h2 a {
    color:orange;
}

.sidebar .block {
    background: transparent;
    border:0;
}

.sidebar .block > h2 {
    color:orange;
    text-transform: uppercase;
    font-style:italic;
    border-bottom:1px solid orange;
}