{% extends "page.html.twig" %}

{% block header %}
  <h1>JE SUIS UNE PAGE ARTICLE (HEADER)</h1>
    {{ parent() }}
{% endblock %}

{% block main %}
  <h1>JE SUIS UNE PAGE ARTICLE (MAIN)</h1>
    {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}